@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');

body{
	background-color: #efefe2;
	width:100%;
}
.container{
	margin:0 auto;
	width: 1400px;
	height: 550px;
	background-color: blue;
}
.header{
	margin:0 auto;
	width: 1220px;
	height: 50px;
	font:100% 'Open Sans', sans-serif;
	padding-top:15px;
	background-color: green;
}
.logo__img {
    float: left; 
    width:39px;
    height: 39px;
    margin-right:10px;
}
.logo__text{
	float: left;
	margin:10px 160px 0 0;
	font-size:18px;
}
.menu{
	li a{
		color:#000;
		text-decoration:none;
    }
    &__item{
		margin-top:10px;
		float:left;
		list-style:none;
		padding-left:20px;
		font-size:15px;
    }
}

  